<form id="userForm" data-ng-submit="addUpdateUser()">
    <label for="formUsername">Username</label>
    <input id="formUsername" type="text" placeholder="Enter Username" data-ng-model="username"/>
    <br/>
    <label for="formFirstName">First Name</label>
    <input id="formFirstName" type="text" placeholder="Enter First Name" data-ng-model="firstName"/>
    <br/>
    <label for="formLastName">Last Name</label>
    <input id="formLastName" type="text" placeholder="Enter Last Name" data-ng-model="lastName"/>
    <br/>
    <label></label>
    <input type="submit" value="Add/Update User"/>
</form>
