html, body {
    font-family: 'Georgia', 'Serif';
    background-color: #eaeaea;
    color:#111;
}

h1, h2, h3, h4 {
    font-family: 'Arial', 'Sans-serif';
}

h1 {
    background-color: #eaeaea;
    color: #111;
}

label, input {
    display: inline-block;
}

input {
    background-color:#fff;
    font-family: 'Georgia', 'Serif';
    border-radius: 5px;
    box-shadow: 0 1px 5px #999 inset;
    border: 0px;
    height:30px;
    margin-bottom: 10px;
    padding: 5px;
    color:#111;
    font-size:16px;
}

input[type="submit"] {
    font-family: 'Arial', 'Sans-serif';
    background-color: #2222FF;
    border: 2px solid #8888FF;
    box-shadow: none;
    color: #fff;
    padding:5px;
    height:40px;
}

label {
    width: 100px;
}

input {
    width: 200px;
}

th, td {
    width:150px;
    padding: 5px;
    margin:0px;
    text-align: left;
}

button {
    width:100%;
    background-color: #dd3333;
    color: #fff;
    border: 2px solid #ee6666;
    border-radius: 5px;
    height:25px;
}

tr:nth-child(2) {
    background-color: #ddd;
}
