<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>A Flask/MongoDB Example using REST and AJAX</title>
        <meta name="description" content="A Flask/MongoDB Example using REST and AJAX"/>
        <meta name="author" content="Nathan Jordan"/>
    </head>
    <body>
        {# This is a comment, it won't show up in the HTML source. Here,
           appName is outputted into the HTML document inside an h1 tag #}
        <h1>{{ appName }}</h1>
        <h3>New User</h3>
        {# This includes the userForm partial into this document,
           so we don't have to put all the stuff we need into one giant
           html file. Hooray modularity! #}
        {% include 'partials/userForm.html' %}
        <hr/>
        <h3>User List</h3>
        <ol id="userList">
            <!-- Nothing goes here since we're loading it via AJAX! -->
        </ol>
        <!-- Script at end of body so it doesn't delay page load -->
        <script type="text/javascript" src="/assets/jquery.js"></script>
        <script type="text/javascript" src="/assets/underscore.js"></script>
        <script type="text/javascript" src="/assets/async.js"></script>
        <script type="text/javascript" src="/assets/main.js"></script>
    </body>
</html>
